<!DOCTYPE html>
<html>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
        body {
            margin:0px;
            padding:0px;
            width:100%;
        }
    </style>
    <body class="w3-dark-grey">

        <!-- Page Container -->
        <div class="w3-content" style="max-width:100%">

            <!-- The Grid -->
            <div class="w3-container">

                <div class="w3-container w3-card w3-black w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Software Engineering Intern / Farmer's Fridge</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2018 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
                        <p>Work to be determined.</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Web Development Intern / Cities Project</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2017 - Apr 2018</h6>
                        <p>Provided up to date management of the organization website to best represent its mission. Designed theme and layout for simplified navigation to streamline and maximize user website interaction.</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Web Developer / Yula LLC</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2015 - Aug 2016</h6>
                        <p>Designed and created a website to help establish a professional setting for the company online. Provided marketing advice to the business owners for a professional appearance online. Developed Content Management strategy for the business website.</p><br>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Technology Community Service Assistant / ETHS Chromezone</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2014 - Jun 2015</h6>
                        <p>Helped integrate Chromebooks into school curriculum. Provided technical support for students and staff. Registered and checked rental status of Chromebooks in storage.</p><br>
                    </div>
                </div>

                <div class="w3-container w3-card w3-black">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>DePaul University</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2015 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
                        <p>Studying for a Combined Degree for a BS in Computer Science with a Software Development Concentration and Masters in Software Engineering</p>
                    </div>
                </div>

                <!-- End Grid -->
            </div>

            <!-- End Page Container -->
        </div>